body {
    font-size: 1.5rem;
}
.header{
    background-color: #4e7563;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}

.list {
    text-align: center;
    list-style: none;
}

li {
    margin: 20px 0;
}